<a href="https://colab.research.google.com/github/Minsung-commit/TIL/blob/master/NFL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [143]:
score = pd.read_csv('spreadspoke_scores.csv')

In [144]:
teams = pd.read_csv('nfl_teams.csv')
stadiums = pd.read_csv('nfl_stadiums.csv', encoding = 'latin_1')

In [147]:
stadiums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   stadium_name                  106 non-null    object
 1   stadium_location              106 non-null    object
 2   stadium_open                  82 non-null     float64
 3   stadium_close                 41 non-null     float64
 4   stadium_type                  99 non-null     object
 5   stadium_address               94 non-null     object
 6   stadium_weather_station_code  93 non-null     object
 7   stadium_weather_type          99 non-null     object
 8   stadium_capacity              45 non-null     object
 9   stadium_surface               59 non-null     object
 10  STATION                       55 non-null     object
 11  NAME                          55 non-null     object
 12  LATITUDE                      55 non-null     float64
 13  LONGITUDE                     55 non-null     float64
 14  ELEVATION                     55 non-null     float64
dtypes: float64(5), object(10)
memory usage: 12.5+ KB

In [ ]:
stadiums.head(5)
print(stadiums.isnull().sum())

stadium_name                     0
stadium_location                 0
stadium_open                    24
stadium_close                   65
stadium_type                     7
stadium_address                 12
stadium_weather_station_code    13
stadium_weather_type             7
stadium_capacity                61
stadium_surface                 47
STATION                         51
NAME                            51
LATITUDE                        51
LONGITUDE                       51
ELEVATION                       51
dtype: int64

In [148]:
print(score.isnull().sum())

schedule_date              0
schedule_season            0
schedule_week              0
schedule_playoff           0
team_home                  0
score_home                 1
score_away                 1
team_away                  0
team_favorite_id        2479
spread_favorite         2479
over_under_line         2489
stadium                    0
stadium_neutral            0
weather_temperature     1043
weather_wind_mph        1060
weather_humidity        4791
weather_detail         10410
dtype: int64

In [ ]:
teams.head(5)

             team_name  ... team_division_pre2002
0    Arizona Cardinals  ...              NFC West
1    Phoenix Cardinals  ...              NFC East
2  St. Louis Cardinals  ...              NFC East
3      Atlanta Falcons  ...              NFC West
4     Baltimore Ravens  ...           AFC Central

[5 rows x 8 columns]

In [ ]:
score.head(5)

  schedule_date  schedule_season  ... weather_humidity  weather_detail
0      9/2/1966             1966  ...             71.0             NaN
1      9/3/1966             1966  ...             70.0             NaN
2      9/4/1966             1966  ...             82.0             NaN
3      9/9/1966             1966  ...             78.0             NaN
4     9/10/1966             1966  ...             62.0             NaN

[5 rows x 17 columns]

In [ ]:
stadiums.columns

Index(['stadium_name', 'stadium_location', 'stadium_open', 'stadium_close',
       'stadium_type', 'stadium_address', 'stadium_weather_station_code',
       'stadium_weather_type', 'stadium_capacity', 'stadium_surface',
       'STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION'],
      dtype='object')

In [ ]:
# 경기장 데이터 전처리 
## 활용가능한 변수 선택(결측치 기준)
### 이름, 위치, 유형, 날씨 유형

t_stadiums = stadiums[['stadium_name', 'stadium_location','stadium_type','stadium_weather_type']]

In [ ]:
t_stadiums

             stadium_name   stadium_location stadium_type stadium_weather_type
0              Alamo Dome    San Antonio, TX       indoor                 dome
1       Allegiant Stadium       Paradise, NV       indoor                 dome
2          Alltel Stadium   Jacksonville, FL          NaN                  NaN
3          Alumni Stadium  Chestnut Hill, MA      outdoor                 cold
4         Anaheim Stadium        Anaheim, CA      outdoor                 warm
..                    ...                ...          ...                  ...
101  War Memorial Stadium        Buffalo, NY      outdoor                 cold
102       Wembley Stadium         London, UK      outdoor             moderate
103         Wrigley Field        Chicago, IL      outdoor                 cold
104             Yale Bowl      New Haven, CT      outdoor                 cold
105        Yankee Stadium          Bronx, NY      outdoor                 cold

[106 rows x 4 columns]

In [ ]:
# 범주 비율 확인 
a = t_stadiums.stadium_type.value_counts()
type_ratio = [round(a[0]/a.sum(),2), round(a[1]/a.sum(),2), round(a[2]/a.sum(),2)]

In [ ]:
a

outdoor        76
indoor         16
retractable     7
Name: stadium_type, dtype: int64

In [ ]:
type_ratio

[0.77, 0.16, 0.07]

In [ ]:
c = t_stadiums.stadium_weather_type.value_counts()
type_ratio = [round(c[0]/c.sum(),2), round(c[1]/c.sum(),2), round(c[2]/c.sum(),2), round(c[3]/c.sum(),2)]

In [ ]:
c

cold        37
dome        23
moderate    21
warm        18
Name: stadium_weather_type, dtype: int64

In [ ]:
type_ratio

[0.37, 0.23, 0.21, 0.18]

In [ ]:
# 범주별 구성비율에 따른 결측치 대체
def type_fill_na():
  rnd_num = np.random.uniform(0,1,1) #균등분포로부터 난수 생성

  if rnd_num > 0.93:
    x = 'retractable'
  elif rnd_num > 0.77:
    x = 'indoor'
  else :
    x = 'outdoor'

  return x

In [ ]:
def weather_fill_na():
  rnd_num = np.random.uniform(0,1,1) #균등분포로부터 난수 생성

  if rnd_num > 0.82:
    x = 'warm'
  elif rnd_num > 0.61:
    x = 'moderate'
  elif rnd_num > 0.38:
    x = 'dome'
  else :
    x = 'cold'

  return x

In [ ]:
## 데이터 유형이 str이라 isnull를 통한 값 위치 특정이 어려워, 우선 null값을 ""으로 대체한 후 for을 통해 값 대체 진행
t_stadiums.stadium_type.fillna("", inplace = True)
t_stadiums.stadium_weather_type.fillna("", inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
for i in range(len(t_stadiums.stadium_type)): # 결측값 대치 
  if t_stadiums.stadium_type.iloc[i] == "":
    t_stadiums.stadium_type.iloc[i] = type_fill_na()

In [ ]:
for i in range(len(t_stadiums.stadium_weather_type)):
  if t_stadiums.stadium_weather_type.iloc[i] == "":
    t_stadiums.stadium_weather_type.iloc[i] = weather_fill_na()

In [ ]:
t_stadiums.stadium_weather_type.value_counts() # 확인

cold        39
dome        25
moderate    23
warm        19
Name: stadium_weather_type, dtype: int64

In [ ]:
t_stadiums.stadium_type.value_counts() # 확인

outdoor        81
indoor         18
retractable     7
Name: stadium_type, dtype: int64

In [ ]:
t_stadiums.isnull().sum() # 결측치 제거 완료

stadium_name            0
stadium_location        0
stadium_type            0
stadium_weather_type    0
dtype: int64

In [ ]:
score.columns

Index(['schedule_date', 'schedule_season', 'schedule_week', 'schedule_playoff',
       'team_home', 'score_home', 'score_away', 'team_away',
       'team_favorite_id', 'spread_favorite', 'over_under_line', 'stadium',
       'stadium_neutral', 'weather_temperature', 'weather_wind_mph',
       'weather_humidity', 'weather_detail'],
      dtype='object')

In [ ]:
df1 = t_stadiums
df2 = score[['score_home', 'score_away','stadium','weather_temperature', 'weather_wind_mph']]

In [ ]:
total = pd.merge(df1, df2, how='inner', left_on='stadium_name', right_on = 'stadium')

In [ ]:
total.drop('stadium', axis = 1, inplace = True)

In [ ]:
total

            stadium_name  ... weather_wind_mph
0             Alamo Dome  ...              0.0
1             Alamo Dome  ...              0.0
2             Alamo Dome  ...              0.0
3      Allegiant Stadium  ...              NaN
4      Allegiant Stadium  ...              NaN
...                  ...  ...              ...
12944     Yankee Stadium  ...              8.0
12945     Yankee Stadium  ...             11.0
12946     Yankee Stadium  ...             13.0
12947     Yankee Stadium  ...             15.0
12948     Yankee Stadium  ...              9.0

[12949 rows x 8 columns]

In [ ]:
total['win'] = np.NaN

In [ ]:
for i in range(len(total)):
  if total.score_home.iloc[i] > total.score_away.iloc[i]:
    total.win.iloc[i] = 1
  elif total.score_home.iloc[i] < total.score_away.iloc[i]:
    total.win.iloc[i] = 0

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
total.win.fillna(1, inplace = True)

In [39]:
# total.drop('weather_humidity', axis = 1, inplace = True)
total.dropna(axis = 0, subset = ['score_home'], inplace = True)
total.dropna(axis = 0, subset = ['weather_wind_mph'], inplace = True)

In [40]:
total.isnull().sum() ## 확인

stadium_name            0
stadium_location        0
stadium_type            0
stadium_weather_type    0
score_home              0
score_away              0
weather_temperature     0
weather_wind_mph        0
win                     0
dtype: int64

In [41]:
total.corr()

                     score_home  score_away  ...  weather_wind_mph       win
score_home             1.000000   -0.030460  ...         -0.071494  0.546503
score_away            -0.030460    1.000000  ...         -0.123408 -0.569747
weather_temperature    0.004826    0.075610  ...         -0.433635 -0.040653
weather_wind_mph      -0.071494   -0.123408  ...          1.000000  0.030516
win                    0.546503   -0.569747  ...          0.030516  1.000000

[5 rows x 5 columns]

In [49]:
s_type = pd.get_dummies(total.stadium_type, drop_first=True)
w_type = pd.get_dummies(total.stadium_weather_type, drop_first=True)
location = pd.get_dummies(total.stadium_location, drop_first=True)

In [54]:
sub_total = pd.concat([s_type, w_type, location], axis = 1)

In [55]:
ss_total = total[['weather_temperature', 'weather_wind_mph', 'win']]

In [83]:
df = pd.concat([ss_total, sub_total], axis = 1)

In [84]:
df

       weather_temperature  weather_wind_mph  ...  Toronto, Canada  Washington, DC
0                     72.0               0.0  ...                0               0
1                     72.0               0.0  ...                0               0
2                     72.0               0.0  ...                0               0
18                    72.0               0.0  ...                0               0
19                    72.0               0.0  ...                0               0
...                    ...               ...  ...              ...             ...
12944                 49.0               8.0  ...                0               0
12945                 61.0              11.0  ...                0               0
12946                 45.0              13.0  ...                0               0
12947                 50.0              15.0  ...                0               0
12948                 47.0               9.0  ...                0               0

[11958 rows x 64 columns]

In [85]:
y = df.win
x = df.drop('win', axis = 1)

In [86]:
# x = pd.DataFrame(x)

In [87]:
x

       weather_temperature  weather_wind_mph  ...  Toronto, Canada  Washington, DC
0                     72.0               0.0  ...                0               0
1                     72.0               0.0  ...                0               0
2                     72.0               0.0  ...                0               0
18                    72.0               0.0  ...                0               0
19                    72.0               0.0  ...                0               0
...                    ...               ...  ...              ...             ...
12944                 49.0               8.0  ...                0               0
12945                 61.0              11.0  ...                0               0
12946                 45.0              13.0  ...                0               0
12947                 50.0              15.0  ...                0               0
12948                 47.0               9.0  ...                0               0

[11958 rows x 63 columns]

In [93]:
np.set_printoptions(precision=6, suppress=True)
pd.options.display.float_format = '{:.5f}'.format
pd.reset_option('display.float_format')

In [103]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2) # 주성분을 몇개로 할지 결정
x_pca = pca.fit_transform(x)

In [96]:
pca.explained_variance_ratio_

array([0.901671, 0.09315 ])

In [133]:
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [129]:
nb = GaussianNB()
knn = KNeighborsClassifier(n_neighbors=5)
svm = SVC()
lr = LogisticRegression()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier(n_estimators=5)

In [130]:
x_pca.shape

(11958, 2)

In [131]:
y.shape

(11958,)

In [134]:
x_train, x_test, y_train, y_test = train_test_split(x_pca, y, test_size = 0.3, stratify=y)

In [120]:
x_train.shape

(9566, 2)

In [121]:
y_train.shape

(9566,)

In [135]:
knn.fit(x_train, y_train)
nb.fit(x_train, y_train)
svm.fit(x_train, y_train)
lr.fit(x_train, y_train)
dt.fit(x_train, y_train)
rf.fit(x_train, y_train)

RandomForestClassifier(n_estimators=5)

In [136]:
knn_prd = knn.predict(x_test)
nb_prd = nb.predict(x_test)
svm_prd = svm.predict(x_test)
lr_prd = lr.predict(x_test)
dt_prd = dt.predict(x_test)
rf_prd = rf.predict(x_test)

In [ ]:
print("=== KNN Classification Report ===")
print(classification_report(y_test, knn_prd))
print('\n')

In [149]:

print("=== KNN Classification Report ===")
print(classification_report(y_test, knn_prd))
print('\n')
print("=== NB Classification Report ===")
print(classification_report(y_test, nb_prd))
print('\n')
print("=== SVM Classification Report ===")
print(classification_report(y_test, svm_prd))
print('\n')
print("=== LR Classification Report ===")
print(classification_report(y_test, lr_prd))
print('\n')
print("=== DT Classification Report ===")
print(classification_report(y_test, dt_prd))
print('\n')
print("=== RF Classification Report ===")
print(classification_report(y_test, rf_prd))
print('\n')

=== KNN Classification Report ===
              precision    recall  f1-score   support

         0.0       0.43      0.31      0.36      1507
         1.0       0.58      0.70      0.64      2081

    accuracy                           0.54      3588
   macro avg       0.51      0.51      0.50      3588
weighted avg       0.52      0.54      0.52      3588



=== NB Classification Report ===
              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00      1507
         1.0       0.58      1.00      0.73      2081

    accuracy                           0.58      3588
   macro avg       0.29      0.50      0.37      3588
weighted avg       0.34      0.58      0.43      3588



=== SVM Classification Report ===
              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00      1507
         1.0       0.58      1.00      0.73      2081

    accuracy                           0.58      3588
   macro avg       0.29      0.50      0.37      3588
weighted avg       0.34      0.58      0.43      3588



=== LR Classification Report ===
              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00      1507
         1.0       0.58      1.00      0.73      2081

    accuracy                           0.58      3588
   macro avg       0.29      0.50      0.37      3588
weighted avg       0.34      0.58      0.43      3588



=== DT Classification Report ===
              precision    recall  f1-score   support

         0.0       0.41      0.37      0.39      1507
         1.0       0.58      0.62      0.60      2081

    accuracy                           0.51      3588
   macro avg       0.49      0.50      0.49      3588
weighted avg       0.51      0.51      0.51      3588



=== RF Classification Report ===
              precision    recall  f1-score   support

         0.0       0.42      0.36      0.39      1507
         1.0       0.58      0.63      0.60      2081

    accuracy                           0.52      3588
   macro avg       0.50      0.50      0.50      3588
weighted avg       0.51      0.52      0.51      3588

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [141]:
knn_score = accuracy_score(y_test, knn_prd)
nb_score = accuracy_score(y_test, nb_prd)
svm_score = accuracy_score(y_test, svm_prd)
lr_score = accuracy_score(y_test, lr_prd)
dt_score = accuracy_score(y_test, dt_prd)
rf_score = accuracy_score(y_test, rf_prd)

In [142]:
print(f'knn : {knn_score} \n naive : {nb_score} \n svm : {svm_score} \n lr : {lr_score}\n dt : {dt_score}\n rf : {rf_score}')

knn : 0.5359531772575251
 naive : 0.5799888517279822
 svm : 0.5799888517279822
 lr : 0.5799888517279822
 dt : 0.5147714604236343
 rf : 0.520066889632107

In [ ]:
group = total['weather_temperature'].groupby(sample['stadium_name']).mean()
group2 = total['weather_wind_mph'].groupby(sample['stadium_name']).mean()

In [ ]:
group2

stadium_name
AT&T Stadium             0.000000
Alamo Dome               0.000000
Allegiant Stadium        0.000000
Alumni Stadium          11.000000
Anaheim Stadium          8.585366
                          ...
War Memorial Stadium    11.750000
Wembley Stadium          8.700000
Wrigley Field           11.000000
Yale Bowl               11.142857
Yankee Stadium          13.244898
Name: weather_wind_mph, Length: 99, dtype: float64

In [ ]:
from numpy.core.defchararray import count
count = 0
for i,n in enumerate(total['weather_wind_mph']):
  if pd.isna(i) == True:
    count += 1

In [ ]:
count

0

In [ ]:
group[Oakland Coliseum]

SyntaxError: ignored

In [ ]:
count = 0 
for idx, v in enumerate(total.weather_temperature):
  if pd.isna(v) == True:
    print(total.stadium_name[idx])

In [ ]:
count

973

In [ ]:
total.isnull().sum() ## 확인

stadium_name              0
stadium_location          0
stadium_type              0
stadium_weather_type      0
score_home                0
score_away                0
weather_temperature     973
weather_wind_mph        990
win                       0
dtype: int64