In [1]:
!cd

C:\Users\lgt30\Desktop\2021-K-Digital-Training-main_6\2021-K-Digital-Training-main\SQL

In [6]:
import pymysql.cursors

In [20]:
# Connect to the database / localhost / 127.0.0.0
connection = pymysql.connect(host='localhost',
        user='practice',
        password='6725',
        db='tip',
        charset='utf8',
        cursorclass=pymysql.cursors.DictCursor)

In [21]:
try:
    with connection.cursor() as cursor:
        # Read a single record
#         sql = "SELECT total_bill FROM tip.tips where tip >= 7"
        sql = "SELECT count(total_bill) FROM tip.tips where tip >= 7"
        cursor.execute(sql)
        result = cursor.fetchone()
        print(result)
finally:
    connection.close()

{'count(total_bill)': 3}

In [22]:
import pandas as pd

In [39]:
# MySQL DB에서 데이터 받아와서 DataFrame에 저장

conn = pymysql.connect(host='localhost', user='practice', 
                       password='6725', db='tip', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)

In [40]:
try:

   with conn.cursor() as curs:
      sql = "SELECT total_bill FROM tip.tips where tip >= 7;"
      curs.execute(sql)
      rs = curs.fetchall()

      # DB에서 받아온 값을 DataFrame에 넣음

      df = pd.DataFrame(rs)
      print(df)
    
   df.to_csv('query.csv')
    
finally:

   conn.close()

   total_bill
0       39.42
1       50.81
2       48.33

In [17]:
#새출발
import pymysql.cursors
import pandas as pd

In [24]:
conn = pymysql.connect(host='localhost', user='practice', 
                       password='6725', db='classicmodels', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)

In [25]:
try:

   with conn.cursor() as curs:
      sql = "select customers.state, customers.customerNumber, payments.checkNumber from customers left join payments on customers.customerNumber = payments.customerNumber where payments.paymentDate >= '2004-10-06' ;"
      curs.execute(sql)
      rs = curs.fetchall()

      # DB에서 받아온 값을 DataFrame에 넣음

      df = pd.DataFrame(rs)
      print(df)
    
#       df.to_csv('query1.csv')
    
finally:

   conn.close()

       state  customerNumber checkNumber
0       None             103    HQ336336
1       None             103    OM314933
2         NV             112    BO864823
3   Victoria             114    MA765515
4       None             119    DB933704
..       ...             ...         ...
84        MA             462    PE176846
85      None             484    GK294076
86        PA             486     HS86661
87      None             496    EU531600
88      None             496     MN89921

[89 rows x 3 columns]