In [1]:
import pandas as pd

In [2]:
import numpy as np

In [ ]:
# SocialDistance = ['사회적거리두기1','사회적거리두기1','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기1','사회적거리두기1','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2',
#                               '사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2',
#                               '사회적거리두기2','사회적거리두기2'] #사회적 거리두기 리스트 생성

In [ ]:
df = pd.date_range('2019-01-01', periods = 731, freq = 'D') #월별 날짜 데이터 생성

In [ ]:
df = pd.DataFrame(df, columns = ['Date']) #컬럼명 지정

In [ ]:
# dates['social_dst'] = SocialDistance

In [ ]:
df['social_dst'] = np.NaN

In [ ]:
df = df.fillna(1)

In [ ]:
filtered_df = df[df["Date"].isin(pd.date_range('2020-02-29', '2020-05-05'))]
filtered_df1 = df[df["Date"].isin(pd.date_range('2020-08-16', '2020-10-11'))]
filtered_df2 = df[df["Date"].isin(pd.date_range('2020-11-24', '2020-12-31'))]

In [ ]:
filtered_df2

In [ ]:
df.iloc[424:491, 1] = 2

In [ ]:
df.iloc[593:650, 1] = 2

In [ ]:
df.iloc[693:731, 1] = 2

In [ ]:
df['social_dst'].sum()

In [ ]:
df.to_csv('social_dst.csv')

In [3]:
dfdf = pd.date_range('2019-01-01', '2020-12-31', freq = 'QS')

In [4]:
dfdf = pd.DataFrame(dfdf, columns = ['year_qtr'])

In [5]:
dfdf

    year_qtr
0 2019-01-01
1 2019-04-01
2 2019-07-01
3 2019-10-01
4 2020-01-01
5 2020-04-01
6 2020-07-01
7 2020-10-01

In [6]:
social_distance = ['1단계','1단계','1단계','1단계','1단계','1단계','2단계','2단계']

In [7]:
sdst = pd.DataFrame(social_distance, columns = ['사회적거리두기'])

In [8]:
sdst = pd.get_dummies(sdst, sparse=True, drop_first=True)

In [9]:
sdst

   사회적거리두기_2단계
0            0
1            0
2            0
3            0
4            0
5            0
6            1
7            1

In [10]:
money = ['미지급','미지급','미지급','미지급','미지급','지급','지급','미지급']
money = pd.DataFrame(money, columns = ['지원금'])
money = pd.get_dummies(money, sparse=True, drop_first=True)

In [11]:
money

   지원금_지급
0       0
1       0
2       0
3       0
4       0
5       1
6       1
7       0

In [12]:
christmas = ['없음','없음','없음','없음','없음','없음','없음','있음']
christmas = pd.DataFrame(christmas, columns = ['크리스마스'])
christmas = pd.get_dummies(christmas, sparse=True, drop_first=True)

In [13]:
christmas

   크리스마스_있음
0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         1

In [14]:
dfdf['사회적거리두기_2단계(더미)'] = sdst
dfdf['지원금(더미)'] = money
dfdf['크리스마스(더미)'] = christmas

In [15]:
dfdf

    year_qtr  사회적거리두기_2단계(더미)  지원금(더미)  크리스마스(더미)
0 2019-01-01                0        0          0
1 2019-04-01                0        0          0
2 2019-07-01                0        0          0
3 2019-10-01                0        0          0
4 2020-01-01                0        0          0
5 2020-04-01                0        1          0
6 2020-07-01                1        1          0
7 2020-10-01                1        0          1

In [16]:
dfdf.to_csv('qtr_dummies.csv')