In [1]:
# 모듈 호출
import pandas as pd
import numpy as np
from impyute.imputation.cs import fast_knn
from fancyimpute import KNN

In [2]:
#데이터 불러오기
a = pd.read_csv('./total_08_new.csv')
sample = a.loc[a.new_emp == '자영업자']

In [3]:
sample.replace({'0' : np.NaN}, inplace = True) # 0 값 변환
sample

C:\anaconda3\envs\multi\lib\site-packages\pandas\core\frame.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,v2,v3,v4,v9,v24,v25,v26,v27,v51,v53,...,v99,v100,v101,v102,v103,v104,v105,v106,new_emp,v55
1,가구주,남자,1926,유배우,M,1-4명,전문가 및 관련 종사자,고용원이 있는 자영업자,201708,대학원졸,...,NaN,NaN,NaN,NaN,NaN,NaN,사업장(건물 등),사업자 등록이 있는 개인 사업체,자영업자,65세이상
8,가구주,남자,1932,유배우,G,1-4명,판매 종사자,고용원이 없는 자영업자,201708,초졸이하,...,NaN,NaN,NaN,NaN,NaN,NaN,자기 집(나의 집에서 과외 지도 등),사업자 등록이 있는 개인 사업체,자영업자,65세이상
9,가구주,남자,1932,사별,C,1-4명,기능원 및 관련기능 종사자,고용원이 없는 자영업자,201708,고졸,...,NaN,NaN,NaN,NaN,NaN,NaN,사업장(건물 등),사업자 등록이 있는 개인 사업체,자영업자,65세이상
12,가구주,남자,1932,유배우,J,5-9명,전문가 및 관련 종사자,고용원이 있는 자영업자,201708,대학원졸,...,NaN,NaN,NaN,NaN,NaN,NaN,사업장(건물 등),사업자 등록이 있는 개인 사업체,자영업자,65세이상
17,가구주,남자,1933,유배우,S,1-4명,서비스 종사자,고용원이 있는 자영업자,201708,중졸,...,NaN,NaN,NaN,NaN,NaN,NaN,자기 집(나의 집에서 과외 지도 등),사업자 등록이 없는 개인 사업체,자영업자,65세이상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143288,기타,남자,1973,이혼,H,1-4명,단순노무 종사자,고용원이 없는 자영업자,202008,고졸,...,NaN,NaN,NaN,NaN,NaN,NaN,"운송수단(자동차, 트럭, 선박 등)",사업자 등록이 있는 개인 사업체,자영업자,45~49세
143298,기타,남자,1981,미혼,I,1-4명,서비스 종사자,고용원이 없는 자영업자,202008,대졸,...,1~3개월 미만,자신만의 사업을 직접 경영하고 싶어서,사업정보 경영노하우 습득,동일 업종 사업,NaN,NaN,사업장(건물 등),사업자 등록이 있는 개인 사업체,자영업자,35~39세
143341,기타,여자,1956,유배우,A,1-4명,농림어업숙련？종사자,무급가족종사자,202008,초졸이하,...,NaN,NaN,NaN,NaN,NaN,NaN,"야외 작업현장(논, 밭, 건설 및 토목공사 현장 등)",사업자 등록이 없는 개인 사업체,자영업자,60~64세
143347,기타,여자,1969,이혼,I,1-4명,서비스 종사자,고용원이 없는 자영업자,202008,초졸이하,...,NaN,NaN,NaN,NaN,NaN,NaN,사업장(건물 등),사업자 등록이 있는 개인 사업체,자영업자,50~54세
143354,기타,여자,1990,유배우,I,1-4명,서비스 종사자,무급가족종사자,202008,고졸,...,NaN,NaN,NaN,NaN,NaN,NaN,사업장(건물 등),사업자 등록이 있는 개인 사업체,자영업자,25~29세

In [4]:
df = pd.get_dummies(sample.iloc[:, 13], prefix=None, prefix_sep='_', dummy_na=True, columns=["n","y","null"], sparse=False, drop_first=False, dtype='float') # 1개 변수 원 핫 인코딩

In [5]:
df.columns = ["n","y","null"] #컬럼명 설정

In [6]:
df

          n    y  null
1       0.0  0.0   1.0
8       0.0  0.0   1.0
9       0.0  0.0   1.0
12      0.0  0.0   1.0
17      0.0  0.0   1.0
...     ...  ...   ...
143288  0.0  0.0   1.0
143298  1.0  0.0   0.0
143341  1.0  0.0   0.0
143347  0.0  0.0   1.0
143354  0.0  0.0   1.0

[41675 rows x 3 columns]

In [7]:
df.loc[df.null == 1, ["n", "y"]] = np.NaN #NaN 값 입력

In [8]:
df = df.drop('null', axis = 1) #null 칼럼 제거

In [ ]:
df

In [ ]:
np_imputed=fast_knn(df.values, k=5)# KNN 학습 
df_imputed = pd.DataFrame(np_imputed)

In [ ]:
knn_imputer = KNN()
df_knn = df.copy()
df_knn.iloc[:,:] = knn_imputer.fit_transform(df_knn)